.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.container__header {
    background-color: hsl(156deg 10% 47%);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
}