.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 477px;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsl(156deg 10% 47%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(156deg 10% 60%);
}

.form__button:active {
    background-color: hsl(156deg 10% 70%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0
}

.form__paragraph {
    font-size: 25px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0
    
}

.form__paragraphSource {
    font-size: 10px;
}
