.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsl(271, 53%, 69%);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(271, 53%, 75%);
}

.form__button:active {
    background-color: hsl(271, 53%, 80%);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0
}

.form__paragraph {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0
}

.form__paragraphSource {
    font-size: 10px;
}
